* {
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
}

.header {
    display: flex;
    height: 75px;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 16px;
    align-items: center;
    font-size: 24px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
    justify-content: space-between;
}
.header-logo {
    display: flex;
}
.header-links {
    display: flex;
}


.header a {
    display: flex;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px;
}

.header ul {
    display: flex;
    list-style: none;
}

.header-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1F2937;
    color: #E5E7EB; 
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.header-container .text-container{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    font-size: 18px;
    margin: 5px;
}

.header-container .text-container button{
    display: flex;
    color: white;
    height: 25px;
    border: 0px;
    border-radius: 12px;
    background-color: #3882F6;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}
.header-container .text-container-header{
    display: flex;
    font-weight: 1000;
    color: #F9FAF8;
    font-size: 32px;
}

.header-container .image-container{
    display: flex;
    height: 250px;
    width: 500px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 14px;

}

.card-container-container{
    background-color: #F9FAF8;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    gap: 20px;
    width: 160px;
}

.card-container-header{
    display: flex;
    font-weight: bolder;
    color: #1F2937;
    font-size: 36px;
    margin: 10px;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    padding: 16px;
    margin: 14px;
  }
.card-container img {
    display: flex;
    height: auto;
    width: 150px;
}

.card .text {
    display: flex;
    color: red;

}


.quote-container {
    /* Quote section background color:
        #E5E7EB

        Quote text:
        36px light italic #1F2937
    */
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 250;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    padding-left: 18%;
    padding-right: 18%;
}

.quote-sign {
    display: flex;
    font-weight: 400;
    justify-content: right;
}